Insecure Key Length Warning

When import ixmp or message_ix, now we get the following warning:
```
>>> import ixmp
/home/ubuntu/repos/message_uv/lib/python3.12/site-packages/jwt/api_jwt.py:147: InsecureKeyLengthWarning: The HMAC key is 20 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
  return self._jws.encode(
```

Apparently this is triggered by the import of ixmp4 and/or pyam.
I have not changed any key to access different Scenarios. This should be the default key.
This may be already known to you. I thought to anyway give you a heads-up. 
And thanks to @khaeru for helping narrowing down the issue 😊


Hi there, I'll take a look at this since I just refactored a lot in ixmp4... 
I cannot quite reproduce the issue, mostly because ixmp currently errors with the new ixmp4 version (ill take a look at that too). But pyam seems to import and read data without a warning:
<details>
  <summary>Importing pyam and ixmp</summary>

    ```bash
    (.venv) wolschlager@nb-wolschlager:/tmp/ixmp4test$ python
    Python 3.10.12 (main, Mar  3 2026, 11:56:32) [GCC 11.4.0] on linux
    Type "help", "copyright", "credits" or "license" for more information.
    >>> import pyam
    >>> pyam.read_ixmp4("scenariocompass")
    [INFO] 14:29:20 - ixmp4.core.platform: Scenario Compass: This is the public platform for the Scenario Compass Initiative. This database contains scenario data associated with unpublished research and a manuscript currently under peer review. The data may be used for scientific research purposes. However, users must strictly adhere to the applicable Nature editorial policies and embargo rules until the manuscript has been formally published. Please refer to https://scenariocompass.org for more information.
    ...
    >>> import ixmp
    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/tmp/ixmp4test/.venv/lib/python3.10/site-packages/ixmp/__init__.py", line 5, in <module>
        from ixmp._config import config
      File "/tmp/ixmp4test/.venv/lib/python3.10/site-packages/ixmp/_config.py", line 445, in <module>
        config = Config()
      File "/tmp/ixmp4test/.venv/lib/python3.10/site-packages/ixmp/_config.py", line 244, in __init__
        self.values = self._ValuesClass()
      File "<string>", line 3, in __init__
      File "/tmp/ixmp4test/.venv/lib/python3.10/site-packages/ixmp/_config.py", line 72, in _platform_default
        ixmp4_databases = ixmp4.conf.settings.storage_directory.joinpath("databases")
    AttributeError: module 'ixmp4.conf.settings' has no attribute 'storage_directory'
    ```

</details>

*However*, if I supply the configuration variable `IXMP4_CLIENT__SECRET_HS256` and set it to a short string, the warning is emitted (thats good and should probably remain this way). 

<details>
  <summary>Importing pyam with client secret set</summary>

    ```bash
    (.venv) wolschlager@nb-wolschlager:/tmp/ixmp4test$ IXMP4_CLIENT__SECRET_HS256=foo python
    Python 3.10.12 (main, Mar  3 2026, 11:56:32) [GCC 11.4.0] on linux
    Type "help", "copyright", "credits" or "license" for more information.
    >>> import pyam
    >>> pyam.read_ixmp4("scenariocompass")
    [INFO] 14:26:50 - ixmp4.conf.settings: Using self-signed http authentication strategy because the environment variable `IXMP4_CLIENT__SECRET_HS256` is set.
    /tmp/ixmp4test/.venv/lib/python3.10/site-packages/jwt/api_jwt.py:147: InsecureKeyLengthWarning: The HMAC key is 3 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
      return self._jws.encode(
    ```

</details>

Could you provide the output of these two commands so I can do some more debugging?

In a console:
```bash
$ ixmp4
```
<details>
  <summary>Sample Output </summary>
    
    ```
     _____  ____  __ ___ _ _                                                   
    |_ _\ \/ /  \/  | _ \ | |                                                  
     | | >  <| |\/| |  _/_  _|                                                 
    |___/_/\_\_|  |_|_|   |_|                                                  
                                                                               
      Version             0.15.9                                               
      Mode                production                                           
      Manager URL         https://api.manager.ece.iiasa.ac.at/v1               
      Storage Directory   /home/wolschlager/.local/share/ixmp4                 
                                                                               
    Server Settings                                                            
                                                                               
      Platforms TOML      /home/wolschlager/.local/share/ixmp4/platforms.toml  
      Manager URL         None                                                 
      HS256 Secret        None                                                 
      Max Page Size       10000                                                
      Default Page Size   5000                                                 
                                                                               
    Client Settings                                                            
                                                                               
      Concurrency    2                                                         
      Retries        3                                                         
      Timeout        30                                                        
      HS256 Secret   None                                                      
    ```
</details>

And in the python environment you found the warning in:

```py
>>> import os
>>> list(os.environ.keys())
```

My understanding is that this happens because of a newer version of PyJWT, which now checks for the length of the key. 
Currently I'm using:
- python 3.12.3
- pyjwt 2.12.1
- ixmp/message_ix 3.11.2
- ixmp4 0.10.0


If I only pass 
```
ixmp4
```
To my terminal I get an error: `missing command` .

regarding 
``` bash
>>> import os
>>> list(os.environ.keys())
['SHELL', 'COLORTERM', 'NVM_INC', 'WSL2_GUI_APPS_ENABLED', 'TERM_PROGRAM_VERSION', 'CONDA_EXE', '_CE_M', 'WSL_DISTRO_NAME', 'SSH_AUTH_SOCK', 'SSH_AGENT_PID',
'NAME', 'PWD', 'LOGNAME', 'HOME', 'LANG', 'WSL_INTEROP', 'LS_COLORS', 'VIRTUAL_ENV', 'STARSHIP_SHELL', 'WAYLAND_DISPLAY', 'STARSHIP_SESSION_KEY', 'NVM_DIR', 'LESSCLOSE', 'TERM', '_CE_CONDA', 'LESSOPEN', 'USER', 'CONDA_SHLVL', 'DISPLAY', 'SHLVL', 'NVM_CD_FLAGS', 'VIRTUAL_ENV_PROMPT', 'CONDA_PYTHON_EXE', 'XDG_RUNTIME_DIR', 'PS1', 'WSLENV', 'XDG_DATA_DIRS', 'PATH', 'DBUS_SESSION_BUS_ADDRESS', 'NVM_BIN', 'HOSTTYPE', 'PULSE_SERVER', 'OLDPWD', 'TERM_PROGRAM', '_']
```


I see, the default value for the secret at that version was "default_secret_hs256", which is 20 chars long and probably the reason for the warning. Ill put in some more work to make everything compatible again, but I suspect that you will not be able to properly interact with databases with that version anyway since it is from May 12, 2025 and ixmp4 is still "unstable".
The newer versions have `None` as default and do not use the secret at all if it is so. Presumably the warning does not appear there. 

I do not tend to interact much with the ixmp4 api anyway. That is not the issue for me really. 
I just wanted to make sure that this is not a security issue right now. And if it is what are solutions.
I think I have played with the ixmp4 api a couple of times, but never really settled on using it for now (mostly because I haven't needed it very much). 
But if this is a security issue for me and (by extension) IIASA, I thought it may be something to bring up. If you are telling me it is quite okay to just leave it be if i don't use ixmp4, then i'll leave it be :) 
I just thought I'd bring it up. 


I see, thanks for reporting it. The secrets on the production servers are a lot longer, so no security problem. The warning would become relevant were you to host your own IXMP4 server.
Closing this.
Edit: turns out I am not allowed to close issues 